<div class="d-flex justify-content-center auth-holder">
  <div class="card">
    <mat-card class="holder">
      <div class="form-signin" >

        <div class="btn-group mr-2">
          <button class="upload-image-button" mat-raised-button (click)='onUploadLogoClick()'
              type="button">
              <mat-icon>image</mat-icon>
              Upload Image
          </button>
          <span class="btn">{{logoName}}</span>

          <div>
            <mat-hint class="small">
                Supported file types: .jpg, .png, .jpeg, .jfif | Max image size: 5 MB
            </mat-hint>
            <mat-error class="error-size mt-2" *ngIf='logoErrorMessage.length > 0'>
                {{logoErrorMessage}}
            </mat-error>
        </div>
      </div>
      <div>
        <h3 *ngIf="logo">Click on 3 distinctive spots on your uploaded picture for 2 factor authentication on Login</h3>
      </div>
        
        <div class="viewport" >
          <div class="text-center">
            <div class="img-holder mb-3 border-0 text-center" [style.backgroundColor]="'transparent'">
                <img #logoImg [src]='logoPath' alt="" />
            </div>
            <div class="form-group text-center">
                
                <input #logoInput type="file" style="display: none;" accept='image/*' class="form-control-file"
                    (change)='onLogoSelect($event)'>
            </div>
        </div>

          <canvas #myCanvas class="myCanvas"  (mousedown)="onMouseDown($event)">
          </canvas>
          <canvas #offsetCanvas class="offsetCanvas" ></canvas>
        </div>

        <div class="d-flex h-100 justify-content-between ">
          <button (click)="goBack()"
             class="btn float-right">
              Back
          </button>
          <button type="button" (click)="register()"  [disabled]="(!logo && (order < 3))" class="btn float-right btn-custom">
            <mat-icon>login</mat-icon>Register
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>

